h1 {
  text-align: center;
}

h2 {
  text-align: center;
  font-style: italic;
}

img {
  border: solid 6px #949b96;
}

#img-cen {
  text-align: center;
}

p {
  background: #b3bcbc;
  border: solid 3px #4c5b61;
}

ul {
  border: dotted 2px #4c5b61;
  background: #b3bcbc;
}

#whole {
  background: #c5c5c5;
}
