h1 {
  text-align: center;
  border: 3px solid #000000;
}

h2 {
  text-align: center;
}

p {
  text-align: inherit;
}

#normal {
  background-color: #F8F4EC;
  border: 2px dotted #4f4f4f;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap:15px;
}

#normal img {
  display:block;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

#blocked {
  margin-left: 50px;
  max-width: 600px;
}

#codey {
  border: 2px dotted #b7736e;
  background:#F8F4EC;
}
