h1 {
  text-align: center;
  border: solid 4px #000000;
  background: rgba(85,89,102,0.7);
  text-shadow: white;
}

h2 {
  text-align: center;
  text-decoration: underline;

}

.box{
  border:5px solid black;
  padding:10px;
  background: linear-gradient(#d7cec1,#f9fae2);
}

.header{
  text-align:center;
}

.peek{
  text-align:right;
  border: double 3px #5f5f5f
}

#img-change img{
  width: 500px;
}

.box img{
  height:400px;
}


.grid{
  display:grid;
  grid-template-columns: auto auto;
  grid-gap:15px;
}

[class*="col"]{
  background-color:#c5c5c5;
  text-align:center;

}

[class*="col"] img{
  width:500px;

}
